<%- include('partials/headerhome'); -%>

<section class="sellnbuy-section">
  <div class="sellandbuy-title">
    <h4>Sell and Buy</h4>
  </div>

  <% if (apartments.length === 0) { %>
    <div class="no-listed-apt">
      <div class="no-listed-apt-info">
        <h4>No listed apartments yet.</h4>
      </div>
    </div>
  <% } else { %>
    <div class="apartment-card-container">
      <% apartments.forEach(apartment => { %>
        <article class="apartment-card">
          <img class="apartment-card-image" src="<%= apartment.apartmentPhotoUrl %>" alt="<%= apartment.description || 'Apartment Image' %>" />
          <div class="apartment-card-container-info">
          <div>
            <h5><%= apartment.sellApartmentSize %> for sale</h5>
          </div>
          <div class="apt-info-container">
            <p><strong>Price:</strong> Ksh <%= new Intl.NumberFormat().format(apartment.price) %></p>
            <div class="apt-info">
              <div>
                <p><%= apartment.bedroomsNo %></p>
                <i class="ri-hotel-bed-line" style="font-size: 1.5rem;"></i>
              </div>
              <div>
                <p><%= apartment.squareFootage %></p>
                <i class="ri-ruler-line" style="font-size: 1.5rem;"></i>
              </div>
            </div>
          </div>
          <div class="sell-description">
            <p class="description-header"><strong>Description:</strong> </p>
            <p class="white"><%= apartment.description %></p>
          </div>
          <div>
            <p class="des-info"><strong>Phone Number:</strong> <a href="tel:<%= apartment.phone %>"><%= apartment.phone %></a></p>
          </div>
          <form action="/mylistings/<%= apartment._id %>?_method=DELETE" method="POST" class="delete-form" onsubmit="return confirm('Are you sure you want to delete this listing?');">
            <button type="submit">Remove listing</button>
          </form>
        </div>
        </article>
      <% }); %>
    </div>
  <% } %>
</section>
