<%- include('partials/headerhome'); -%>

<section class="sellnbuy-section">
  <div class="sellandbuy-title">
      <h4>Sell and Buy</h4>
  </div>
  
      <% if (apartments.length === 0) { %>
        <div>
          <h4>No listed apartments yet.</h4>
        </div>
      
        <% } else { %>
          <% apartments.forEach(apartment => { %>
          <div class="apartment-card-container">
            <article class="apartment-card">
              <img class="apartment-card-image" src="<%= apartment.apartmentPhotoUrl %>" alt="<%= apartment.description || 'Apartment Image' %>" />
              <header>
                <h5><%= apartment.sellApartmentSize %> for sale</h5>
              </header>
              <p>Price: Ksh <%= new Intl.NumberFormat().format(apartment.price) %></p>
              <p>Description: <%= apartment.description %></p>
              <div>
                <p>Phone Number: <a href="tel:<%= apartment.phone %>"><%= apartment.phone %></a></p>
              </div>
            </article>
          <% }); %>
        <% } %>
  </div>
</section>
